body{
	 font-family: Arial, sans-serif;
	 margin: 0;
     padding: 0;
     background-color: #f4f4f4;
     color: #333;
}

section {
     padding: 30px;
    background: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* NAVIGATION*/
nav {
    background-color:#f39c12 ;
    padding: 3px 0;
}

nav table {
    width: 100%;
}

nav td {
    padding: 5px;
    text-align: center;
}

nav td a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

/* BONJOUR & BIENVENUE */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;

}


/* PRESENTATION */
.me {
    display: block;
    border-radius: 50%; /* Rend l'image ronde */
    border: 5px solid #2c3e50; /* Bordure orange */
    margin-bottom: 20px; /* Espace sous l'image */
    margin: 0 auto;
}
.presentation h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.presentation p {
    font-size: 21px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 0px;
}
.prebouton{
     padding: 30px;
    background: white;
    margin: 20px auto;
    margin-top: 0px;
    width: 15%;

}






/* A PROPOS DE MOI */
#apropos {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
.moi{
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.texte{
    padding: 30px;
    background: white;
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-right: 20px;
    margin-top: 20px;
    border-top: 5px solid #f39c12;
}
.educ{
    padding: 30px;
    background: white;
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-left: 20px;
    margin-top: 20px;
    border-top: 5px solid #f39c12;
}


/* MA PASSION */
#titrepassion{
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
     margin-top: 0%;
    margin-bottom: 0%;

}
.container {
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.creer{
    padding: 30px;
    background: white;
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-right: 20px;
    border-bottom: 5px solid #f39c12;
    
}
.innover{
    padding: 30px;
    background: white;
    width: 48%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-left: 20px;
    border-bottom: 5px solid #f39c12;
}

.bouton{
     padding: 30px;
    background: #f4f4f4;
    margin: 20px auto;
    width: 10%;
}

/* BUTTON */
button
{
    background-color: #f39c12;
	color: white;
	font-size: 1rem;
	padding: 10px 20px;
	margin-top: 2rem ;
    border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;

}
button a {
    text-decoration: none;
    color: white;
}


#notification {
    position: fixed;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: -8rem;
    right: 20px;
    transition: bottom 0.6s ease-in-out;
}
#notification.show {
    bottom: 2rem;
}

/* FOOTER */
footer
 {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    bottom: 0;
    width: 100%;
}